@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: none;
}

.headline {
  background-image: url(./assets/expressVPNBackground.png);
  background-color: #f1eace;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100%;
}

.lang {
  width: 100%;
  text-align: right;
}

.location {
  background-image: url(./assets/map.png);
  background-color:#fcf3f4;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  min-height: 250px;
}
